
.about-container {
    flex: 1;
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #545E85;
    margin: 0 auto;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.About-title {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
    font-family: fantasy;
}

.About-subtitle {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-align: left;
    font-weight: normal;
}

.About-description {
    font-size: 1.2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: left;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.about-image {
    flex: 0 0 300px;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    align-content: flex-end;
}

.about-content {
    display: flex; 
    align-items: flex-start;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.about-text {
    flex: 1;
    min-width: 300px;
}