.author-page{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-title{
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    margin: 0 auto 2rem auto;
    color: inherit;
}

.author-book-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: auto;
}

.author-book-list .book{
    background-color: transparent;
}