.book-detail-page {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 5rem;
    align-items: top;
    width: 100%;
}

.book-detail-left {
    box-sizing: border-box;
    padding: 1rem;
    width: 40%;
}

.book-detail-left img{
    box-sizing: border-box;
    object-fit: contain;
}

.book-detail-right{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
}

.book-detail-right h1{
    box-sizing: border-box;
    margin: 0 0;
    line-height: 1;
}

.book-detail-right p{
    box-sizing: border-box;
    margin: 0 0;
    line-height: normal;
}

.book-detail-right .book-price {
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: bold;
}

.divider {
    box-sizing: border-box;
    width: 100%;
    height: 0.1rem;
    background-color: darkblue;
}