.book-detail-page {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 5rem;
    align-items: top;
    width: 100%;
}

.book-detail-left {
    box-sizing: border-box;
    padding: 1rem;
    width: 40%;
}

.book-detail-left img{
    box-sizing: border-box;
    object-fit: contain;
    margin-left:250px;
}

.book-detail-right{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
}

.book-detail-right h1{
    box-sizing: border-box;
    margin: 0 0;
    line-height: 1;
}

.book-detail-right p{
    box-sizing: border-box;
    margin: 0 0;
    line-height: normal;
}

.book-detail-right .book-price {
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: bold;
}

.divider {
    box-sizing: border-box;
    width: 100%;
    height: 0.1rem;
    background-color: darkblue;
}

.book-detail-right .add-to-cart-button {
    box-sizing: border-box;
    width: auto;
    height: auto;
    background-color: #bbccff;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
}   

.review-textarea {
  width: 70%;
  height: 120px;
  padding: 12px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: vertical;
  margin: 10px 0;       
  display: block;       
  font-family: inherit;
  text-align: left; 
  color:balck;
}

.review-textarea:focus {
  outline: none;
  border-color: #4a67d6;
  box-shadow: 0 0 6px rgba(74, 103, 214, 0.4);
  background: white;
  color: #333;
}

.book-review-section,
.book-review-list, .rate-book-section  {
  margin-left: 250px;  
    
}

.review-submit{
    background-color: #f6d673; 
    border-color:black;
}

.reviews-title{
    font-size: 1.5rem;            
  font-weight: bold;
  color: #101B4B;             
  font-family: 'Newsreader', serif;  
 
}

.write-review-title, .rate-book-title{
    font-size: 1.7rem;
  font-weight: bold;
  color: #101B4B;
  font-family: 'Newsreader', serif;
  margin-bottom: 10px;
}
