
#cart table{
    width:100%;
    border-collapse: collapse;
    table-layout:fixed; 
    white-space: nowrap;

}

#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align:center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align:center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align:center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align:center;
}

#cart table td:nth-child(5){
    justify-items: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 5px;
}

#cart table td:nth-child(7){
    width: 30px;
    text-align: center;
    white-space: normal !important;
}
#cart table td:nth-child(7) p{
    margin: 0;
    padding: 0;
    color: red;
    overflow-wrap: normal;
}

#cart table thead{
    border:1px solid #cbcfca;
    border-left:none;
    border-right:none;

}

#cart table thead td{
    font-weight:750;
    text-transform: uppercase;
    font-size:13px; 
}

#cart table tbody tr td{ 
    padding-top: 15px;
}

#cart table tbody tr td{
    font-size:13px;
}

#cart-add{
    display:Flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#subtotal{
    width: 35%;
    margin-bottom: 30px;
    border: 1px solid #cbcfca;
    padding: 30px;
    
}

#cart-add h1{
    font-size: 35px;
    padding-bottom: 12px;
}

#subtotal table{
    border-collapse:collapse;
    width:100%;
    margin-bottom:20px;
}

#subtotal table td{
width:50%;
border: 1px solid #cbcfca;
padding:10px;
font-size:13px;
}

#subtotal button {
 background-color: #F6D673; 
 color: #302b2b;
 padding: 12px 20 px;

}