/*.home-container{
    display:flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;} */

/*.parallax {
  background-image: url(https://www.theyoungfolks.com/wp-content/uploads/2021/09/October-2021.png); 
  min-height: 430px;
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  
  max-width: 1650px;
  margin: 0 auto;
}
*/

.top-header-image {
  display: block;
  margin: 0 auto;
  transform: scaleX(1.2);  
  transform-origin: center; 
}




.home-title {
    
    color: black;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
}




.home-description {
    font-size: 1.2rem;
    color: black;
    text-align: center;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.home-container {
  padding-left: 200px;   
  font-size: 1.5rem;
  padding-top: 60px;
}

.tile-container{
    display:grid;
     grid-template-columns: repeat(4,1fr);
     column-gap: 70px;
     row-gap: 70px;
    justify-items: stretch;
    max-width: 1600px;
    margin: 0 auto;
    }
    .tile {
    margin:0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 25px;
    text-align: center;
    font-family: Arial, sans-serif;
    max-width: none;
    max-width: 260px;
    
    }
    .tile-img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 15px;
        display: block;
      }

      .butn {
        background: #F6D673; 
        padding: 10px 20px;
        border: none;
        border-radius: 6px;
        font-size: 0.9rem;
        cursor: pointer;
        transition: background 0.3s ease;
        }
        .butn:hover {
        background: #3b3b41;}