.parallax {
  background-image: url("/stack-of-books-photo.jpg"); 
  min-height: 500px;
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  
  max-width: 1650px;
  margin: 0 auto;
}


.home-container{
    display:flex;
    flex-direction: column;
    background-color: #e2af80;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    margin: 0 auto;
    max-width: 800px;
    width: 100%;


}

.home-title {
    color: pink;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
}




.home-description {
    font-size: 1.2rem;
    color: #25d05e;
    text-align: center;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 2rem;
}