#order-history table,
#order-history th {
  border: 1px solid #000; 
  background-color: #545E85;
  color: white;
  padding: 12px;
}


#order-history table{
    width:100%;
    border-collapse: collapse;
    table-layout:fixed; 
    white-space: nowrap;

}

.details-btn{
    background-color: #F6D673;
  color: black;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.details-btn:hover {
  background-color: #E7E7E7;
}

#order-history td .details-btn {
  display: block;
  margin: 0 auto;
}

#order-history td {
  text-align: center;
}
