.review-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
   max-width: 1600px; 
  margin: 20px 0;
}

.review-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
}

.review-date {
  font-size: 0.85rem;
  color: gray;
  margin-top: 10px;
}

.review-title {
  color: #101B4B;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Newsreader', serif;
  padding: 15px 0;
  
}
