.result-title{
    padding: 5px;
    background-color: #DFA8A3;
    border: 2px outset #d0b9b0ff;
    color: white;
}

.search-result-books{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, 25rem);
    justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
    width: 100%;
    margin: 0 auto;
    background-color: #f0d9d0ee;
}
