*{
    box-sizing: border-box;
}

.result-title{
    padding: 5px;
    background-color: #DFA8A3;
    border: 2px outset #d0b9b0ff;
    color: white;
}

.search-result-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    gap: 5px;
    width: 100%;
    margin: 0 auto;
    background-color: #f0d9d0ee;
}

.book{
    display: flex;
    width: 100%;
    max-width: 500px;
    height: 300px;
    border-radius: 5px;
}

.book:hover{
    background-color: #e0b9b0ee;
}

.book img{
    height: 100%;
    width: 40%;
    padding: 5px;
    object-fit: contain;
}

.book-info{
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 100%;
    width: 60%;
    text-align: left;
    justify-content: center;
}

.book-price{
    text-align: right;
}
.book button{
    float: bottom;
    padding: 5px;
}
