.search-result-page {
    padding: 2rem; 
    background-color: #F0D9D0;
    margin: 0 auto; 
    box-sizing: border-box;
}

.search-title {
    color: #DFA8A3;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.result-card {
    display: flex; 
    flex-direction: column;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 6px 15px rgba(0,0,0,0.09);
    align-items: start;
}

.result-id {
    color: #DFA8A3;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.result-book-info {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
    color: #DFA8A3;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.result-table-title{
    font-size: 1.3rem;
    font-weight: bold;
    color: #DFA8A3;
}