.result-title{
    box-sizing: border-box;
    border-bottom: 1px solid black;
    padding: 1rem;
    background-color: transparent;
    color: inherit;
}

.search-result-books{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, 25rem);
    justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
}
