.book{
    display: flex;
    flex-direction: row;
    width: 25rem;
    height: 20rem;
    border-radius: 5px;
}

.book:hover{
    background-color: #e0b9b0ee;
}

.book-info{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0.5rem 0.5rem 0.5rem 0;
    height: 100%;
    width: 60%;
    text-align: left;
    justify-content: space-between;
    color:black;
}

.book-info-top{
    display: flex;
    flex-direction: column;
    max-height: 80%;
}

.book-info-top p{
    line-height: 1;
    margin: 0;
    font-size: small;
}

.book h4{
    box-sizing: border-box;
    padding: 5px 0;
    margin: 5px 0;
    flex-shrink: 1;
    overflow: auto;
}

.book img{
    box-sizing: border-box;
    height: 100%;
    width: 40%;
    padding: 0.5rem;
    object-fit: contain;
}

.book-info-bottom{
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.book-info-bottom p{
    box-sizing: border-box;
    text-align: right;
    line-height: 1;
    margin: 0 1rem 0.5rem 0;
}

.book-info .stock{
    color:red;
    font-size: smaller;
}

.book-info button{
    background-color: #f0d9d0ee;
    width: 100%;
    color:black;
}

/* specific add-to-cart button styling */
.add-to-cart-button{
    background-color: #f0d9d0ee;
    width: 100%;
    color: black;
    border: 1px solid rgba(0,0,0,0.06);
    padding: 0.5rem 0.6rem;
    border-radius: 6px;
    cursor: pointer;
}

.add-to-cart-button.disabled,
.add-to-cart-button:disabled{
    background-color: #dcd9d9;
    color: #6e6b6b;
    cursor: not-allowed;
    border-color: #ddd;
}