.pagination{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin: 0;
    font-size: small;
    width: 100%;
}

.pagination button,
.pagination div{
    background-color: transparent;
    width: 5%;
    font-size: large;
    font-weight: bold;
}

.page-number{
    align-content: center;
    padding: 0 1rem;
}