.search-form{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
}

.search-form input,
.search-form button{
    box-sizing: border-box;
    height: 2.5rem;
}

.search-form input{
    box-sizing: border-box;
    background-color: inherit;
    color: inherit;
    border-radius: 5px 0 0 5px;
    border-width: 2px;
    padding: 0 5px;
}

.search-form button{
    background-color: inherit;
    color: inherit;
    text-align: center;
    border-radius: 0 5px 5px 0;
    border-color: inherit;
    border-width: 2px;
}

.search-form button:hover{
    background-color: inherit;
    border-color: #535bf2;
    color: #535bf2;
}