/* Global Styles */
#root {
  margin: 0; 
  padding: 0;
  min-height: 100vh;
  width: 100%;
}


body {
  margin: 0;
  padding: 0; 
  background-color: #f5f5f5;
  font-family: 'Arial', sans-serif;
}

/* App container */
.app-container {
  display: flex; 
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;;
}

/* Navigation bar styles */
.navbar {
  background-color: #DFA8A3;
  padding: 1rem 2rem;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: fixed;  
  top: 0;
  z-index: 100;
  width: 100%;
  will-change:transform;
}
.nav-brand h2 {
  color: white;
  margin: 0;
  font-size: 2.3rem;
  font-weight: bold;
  font-family: fantasy;
}

.nav-links{
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none; 
  padding: 0.5rem 1rem;
  border-radius: 5px; 
  transition: all 0.3s ease;
  font-weight: 500; 
}

.nav-link:hover {
  background-color: rgba(255,255,255, 0.2);
  backdrop-filter: blur(5px);
  transform: translateY(-2px);
}
body {
  margin: 0;
  padding-top: 90px; /* adjust if your navbar height changes */
}

.profile-link {
  display: flex; 
  align-items: center;
  gap : 0.55rem;
}

.home-icon-link{
  display: flex; 
  align-items: center;
  gap : 0.55rem;
}

.material-symbols-outlined {
  font-variation-settings: 
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

.app-footer {
  background-color: #DFA8A3;
  color: white;
  text-align: center;
  padding: 1.5rem;
  font-size: 1rem; 
  font-weight: 500;
  margin-top: auto;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);

}

/*Main content container */
.main-content {
  flex: 1; 
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}

